@model RestaurantReservationSystem.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestaurantTableId" class="control-label">Restaurant Table Id</label>
                <select asp-for="RestaurantTableId" class="form-control" asp-items="ViewBag.RestaurantTableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden"  class="form-check-input" asp-for="isCancelled" value="false" />
                </label>
            </div>
            <!--
            <div class="form-group">
                <input class="form-control"  asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId" />
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <label asp-for="IdentityUserId" class="control-label"></label>


            </div>
            -->
            <div class="form-group">
                <input asp-for="IdentityUserId" class="form-control" type="hidden" value="@ViewBag.IdentityUserId" />
            </div>
            <!--

            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
            </div>
            -->

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
